django==1.8
mysqlclient
django-bootstrap3
flake8
requests_oauthlib
djangorestframework
django-debug-toolbar
django-braces
celery
django-celery
python-telegram-bot
django-multiselectfield
mock
six>=1.7
