body {
  padding-top: 70px;
}

.login-window {
    width: 700px;
    margin: auto;
}

.dropable {
	min-height: 100%;
}

.drop-row {
    min-height:100% !important; /* browser fill */
    height:auto;
}

.box-shadow {
	background:#eee;
	height:80px;
	opacity:.2;
}

.panel-heading a {
    color: #ffffff;
    text-decoration: underline;
}

.milestone {
    display: flex;
}