{% extends 'base.html' %}

{% block content %}
    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-3">
                <h2>Open</h2>
            </div>
            <div class="col-lg-3">
                <h2>In Progress</h2>
            </div>
            <div class="col-lg-3">
                <h2>Fixed</h2>
            </div>
            <div class="col-lg-3">
                <h2>Verified</h2>
            </div>
        </div>
        <div class="row">
            {% for milestone in milestones %}
                <div class="panel panel-default">
                    <div class="panel-heading"><a target="_blank" href ="http://185.22.60.142:8889/root/RB-insights/milestones/{{ milestone.iid }}"> {{ milestone.title }}</a> <small class="pull-right">1h / 2h</small></div>
                    <div class="panel-body milestone">
                        <div class="col-lg-3 drop-row">
                            <div class="col-lg-12 dropable">
                                {% for issue in issues_opened %}
                                    {% if issue.milestone.id == milestone.id  %}
                                        <div class="bs-component">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">{{ issue.title }} <small class="pull-right">1h / 2h</small></div>
                                                <div class="panel-body">
                                                    <small>Panel content</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-3 drop-row">
                            <div class="col-lg-12 dropable">
                            </div>
                        </div>
                        <div class="col-lg-3 drop-row">
                            <div class="col-lg-12 dropable">
                            </div>
                        </div>
                        <div class="col-lg-3 drop-row">
                            <div class="col-lg-12 dropable">
                                {% for issue in issues_closed %}
                                    {% if issue.milestone.id == milestone.id  %}
                                        <div class="bs-component">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">1h / 2h</div>
                                                <div class="panel-body">
                                                    <small>{{ issue.title }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}