{% extends 'base.html' %}

{% block content %}
    {% for issue in issues %}
        <h3>{{ issue.milestone.title }} -> {{ issue.title }}</h3><br>
    {% endfor %}

    <div class="bs-docs-section">
		<!-- <div class="log"></div> -->
		
        <div class="row">
          <div class="col-lg-3">
            <h2>Open</h2>
          </div>
            <div class="col-lg-3">
            <h2>In Progress</h2>
          </div>
            <div class="col-lg-3">
            <h2>Fixed</h2>
          </div>
            <div class="col-lg-3">
            <h2>Verified</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 dropable">
				<div class="bs-component">
				  <div class="panel panel-default">
					<div class="panel-heading">1-23 | Bla bla bla <small class="pull-right">1h / 2h</small></div>
					<div class="panel-body">
					  <small>Panel content</small>
					</div>
				  </div>
				</div>
          </div>
          <div class="col-lg-3 dropable">
				<div class="bs-component">
				  <div class="panel panel-danger">
					<div class="panel-heading">Panel heading <small class="pull-right">1h / 2h</small></div>
					<div class="panel-body">
					  <small>Panel content</small>
					</div>
				  </div>
				</div>
          </div>
          <div class="col-lg-3 dropable">
				<div class="bs-component">
				  <div class="panel panel-warning">
					<div class="panel-heading">Panel heading <small class="pull-right">1h / 2h</small></div>
					<div class="panel-body">
					  <small>Panel content</small>
					</div>
				  </div>
				</div>
          </div>
          <div class="col-lg-3 dropable">
				<div class="bs-component">
				  <div class="panel panel-default">
					<div class="panel-heading">Panel heading <small class="pull-right">1h / 2h</small></div>
					<div class="panel-body">
					  <small>Panel content</small>
					</div>
				  </div>
				</div>
          </div>
        </div>
{% endblock %}