{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load project_users_work_time %}
{% load project_users_works_now_style %}
{% load developer_work_time_evaluation %}
{% load keyvalue %}

{% block content %}
    <h3>Resource management</h3>
    <br>
    <div class="panel panel-default resource-management-panel">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Project</th>
                    {% for date in dates %}
                        {% if date == today %}
                            <th class="danger">{{ date|date:"d/m" }}</th>
                        {% else %}
                            {% if date|date:"D" == 'Mon' %}
                                <th class="warning">{{ date|date:"d/m" }}</th>
                            {% else %}
                                <th>{{ date|date:"d/m" }}</th>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr class="success">
                        <td style="white-space: nowrap;">
                            <a href="{% url 'HuskyJamGuru:project-detail' project.pk %}" >
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'HuskyJamGuru:project-update' project.pk %}" >
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            </a>
                            {{ project.name }}
                        </td>
                        {% for date in dates %}
                            <td style="font-size: 0.9em; white-space: nowrap;">
                                {% if project.work_start_date == date %}
                                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                {% endif %}
                                {% if project.finish_time_evaluation_based_on_work_time_evaluation == date %}
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                {% endif %}
                                {% if project.deadline_date == date %}
                                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% for user in project.users %}
                        <tr>
                            <td style="font-size: 0.7em; white-space: nowrap; ">{{ user.gitlabauthorisation.name }}</td>
                            {% for date in dates %}
                                <td style="
                                        font-size: 0.9em; white-space: nowrap;
                                        {% if date == today %}
                                            {% project_users_works_now_style project user date %}
                                        {% endif %}
                                        ">
                                    {% if date <= today %}
                                        {% project_users_work_times project user date %}<span style="color: #7F7F7F;">{% developer_work_time_evaluation project user date %}</span>
                                    {% else %}
                                        <div style="color: #7F7F7F;">
                                            {% developer_work_time_evaluation project user date %}
                                        </div>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
